body {
  background-color: #e9c46a;
}

h1 {
  font-family: 'Zen Old Mincho', sans-serif;
}

img {
  width: 35em;
  height: auto;
}

h2,
p,
li {
  color: #001219;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: 16px;
}

a {
  /* text-decoration: #e76f51 wavy underline; */
  text-decoration: none;
}

.feiju {
  list-style-type: "🥘";
  padding: 5px;
}

.drink {
  list-style-type: "🍹";
  padding: 5px;
}

.sobremesa {
  list-style-type: "🧁";
  padding: 5px;
}
