h1 {
  font-family: 'Zen Old Mincho', sans-serif;
}

img {
  width: 35em;
  height: auto;
}

h2 {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: 16px;
}

li {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
